<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SafeRoute</title>

  <link rel="apple-touch-icon" sizes="180x180" href="\imgs\apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="\imgs\favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="\imgs\favicon-16x16.png">
  <link rel="manifest" href="/imgs/site.webmanifest">

  <!-- External Stylesheets - DO NOT ADD MORE - ADD ALL FUTURE STYLESHEETS ON TOP LINE OF YOUR EJS FILE -->
  <link rel="stylesheet" href="/css/headerFooter.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <!-- Leaflet Control Geocoder CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder@2.4.0/dist/Control.Geocoder.css" />

  <!-- Toastify CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
</head>

<body>

  <!-- Header - had to add currentPage to reflect Theo;s code to avoid ref errors-->
  <header class="header">

    <a href="/">
      <img class="logo" src="\imgs\safe-route-oneline.png" alt="saferoute logo">
    </a>
    <nav class="nav-menu">

      <div class="dropdown">
        <i class="fa-solid fa-bars fa-xl dropbtn"></i>
        <div class="dropdown-content">
          <a href="/"
            class="<%= typeof currentPage !== 'undefined' && currentPage === 'home' ? 'active' : '' %>">Home</a>
          <a href="/map"
            class="<%= typeof currentPage !== 'undefined' && currentPage === 'map' ? 'active' : '' %>">Map</a>
          <a href="/feed"
            class="<%= typeof currentPage !== 'undefined' && currentPage === 'alert' ? 'active' : '' %>">Sightings</a>
          <a href="/resources"
            class="<%= typeof currentPage !== 'undefined' && currentPage === 'resources' ? 'active' : '' %>">Resources</a>

          <a href='/signup'"> Sign Up </a>
          <a href='/signin'"> Sign In </a>

        </div>
      </div>

      <a href="/" class="<%= typeof currentPage !== 'undefined' && currentPage === 'home' ? 'active' : '' %> navHome">Home</a>
      <a href="/map" class="<%= typeof currentPage !== 'undefined' && currentPage === 'map' ? 'active' : '' %>">Map</a>
      <a href="/feed"
        class="<%= typeof currentPage !== 'undefined' && currentPage === 'alert' ? 'active' : '' %>">Sightings</a>

      <a href="/resources"
        class="<%= typeof currentPage !== 'undefined' && currentPage === 'resources' ? 'active' : '' %>">Resources</a>

      <% if (typeof user !=='undefined' && user) { %>
        <button class="sign-in-btn" onclick="location.href='/signout'">Sign Out</button>
        <% } else { %>
          <button class="sign-up-btn" onclick="location.href='/signup'">Sign Up</button>
          <button class="sign-in-btn" onclick="location.href='/signin'">Sign In</button>
          <% } %>
    </nav>
  </header>
