<%- include('partials/header') -%>
  <div class="container">
    <h1 class="center navy-blue">Post Sightings</h1>
    <h2 class="center navy-blue">View real-time incidents to help vulnerable communities</h2>
    <ul class="flex-4 post-category-container">
      <li>Accessibility</li>
      <li>Suspicious Activity</li>
      <li>Motor Accidents</li>
      <li>Infrastructure</li>
    </ul>

    <div class="searchbar">
      <div class="searchbar-wrapper">
        <div class="searchbar-left">
          <div class="search-icon-wrapper">
            <i class="fa-solid fa-bars search-icon searchbar-icon"></i>
          </div>
        </div>
        <div class="searchbar-center">
          <div class="searchbar-input-spacer"></div>
          <input type="text" placeholder="Hinted search text">
        </div>
        <i class="fa-solid fa-magnifying-glass searchbar-right"></i>
      </div>
    </div>

    <button>Filter</button>

    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled post-container">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5 bg-gray bradius-8">
            <div class="border-b-1 flex-1">
              <h3>Location</h3>
              <div class="flex-2">
                <i class="fa-regular fa-bookmark mright-8"></i>
                <div>
                  <div class="flex-3">

                    <form action="/post/<%= posts[i]._id %>/upvote/?_method=PUT" method="POST">
                      <button type="submit"><i class="fa-solid fa-caret-up green"></i></button>
                    </form>
                    <span class="center lh-0">
                      <%= posts[i].upvotes - posts[i].downvotes %>
                    </span>
                    <form action="/post/<%= posts[i]._id %>/downvote/?_method=PUT" method="POST">
                      <button type="submit"><i class="fa-solid fa-caret-down"></i></button>
                    </form>
                    <!-- Will be converted to ajax with this code later -->
                    <!-- <i class="fa-solid fa-caret-up green vote-icon upvote" data-id="<%= posts[i]._id %>"></i>
                    <span class="vote-count" id="vote-<%= posts[i]._id %>">
                      <%= posts[i].upvotes - posts[i].downvotes %>
                    </span>
                    <i class="fa-solid fa-caret-down vote-icon downvote" data-id="<%= posts[i]._id %>"></i> -->

                  </div>
                </div>
              </div>
            </div>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <div class="mtop-12 mbottom-28 border-t-1 ptop-12 flex-5">
              <span class="font-bold">Time/Date</span>
              <button class="view-now-btn">View Now</button>
            </div>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>