<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/feed.css" />

<%- include('partials/header') -%>

  <div class="container">
    <h1 class="center navy-blue">Post Sightings</h1>
    <h3 class="center black">View real-time incidents to help vulnerable communities</h3>
    <!-- Filter types stored in data attribute -->
    <ul class="flex-4 post-category-container">
      <li data-filter="all">All</li>
      <li data-filter="accessibility">Accessibility</li>
      <li data-filter="suspicious">Suspicious Activity</li>
      <li data-filter="Motor">Motor Accidents</li>
      <li data-filter="Infrastructure">Infrastructure</li>
    </ul>
    
    <select id="filter-select">
      <option value="">-- Select --</option>
      <!-- <option value="nearMe">Near me</option> -->
      <option value="recent">Recent</option>
    </select>

    <!-- <div class="searchbar">
      <div class="searchbar-wrapper">
        <div class="searchbar-left">
          <div class="search-icon-wrapper">
            <i class="fa-solid fa-bars search-icon searchbar-icon"></i>
          </div>
        </div>
        <div class="searchbar-center">
          <div class="searchbar-input-spacer"></div>
          <input type="text" placeholder="Hinted search text">
        </div>
        <i class="fa-solid fa-magnifying-glass searchbar-right"></i>
      </div>
    </div> -->

    <!-- <button>Filter</button> -->

    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled post-container flex-6 mbottom-3" id="posts-list">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="view col-6 justify-content-between mt-5 bg-gray bradius-8 list-none mbottom-3 post-item" data-type="<%= posts[i].type %>" data-created="<%= posts[i].createdAt.getTime() %>" data-lat="<%= posts[i].latitude %>" data-lng="<%= posts[i].longitude %>">
            <div class="border-b-1 flex-1">
              <h3>Location: <%= posts[i].city %></h3>
              <p>Type: <%= posts[i].type %></p>
              <!-- <p>Lat: <%= posts[i].latitude %></p> -->
              <!-- <p>Lng: <%= posts[i].longitude %></p> -->
              <div class="flex-2">
                <i class="fa-regular fa-bookmark mright-8"></i>
                <div>
                  <div class="flex-3">


                    <form action="/post/<%= posts[i]._id %>/upvote/?_method=PUT" method="POST">
                      <button class="upvote-caret-btn" type="submit"><i class="fa-solid fa-caret-up green"></i></button>
                    </form>
                    <span class="center lh-0">
                      <%= posts[i].upvotes - posts[i].downvotes %>
                    </span>

                    <form action="/post/<%= posts[i]._id %>/downvote/?_method=PUT" method="POST">
                      <button class="downvote-caret-btn" type="submit"><i class="fa-solid fa-caret-down red"></i></button>
                    </form>
                    <!-- Will be converted to ajax with this code later -->
                    <!-- <i class="fa-solid fa-caret-up green vote-icon upvote" data-id="<%= posts[i]._id %>"></i>
                    <span class="vote-count" id="vote-<%= posts[i]._id %>">
                      <%= posts[i].upvotes - posts[i].downvotes %>
                    </span>
                    <i class="fa-solid fa-caret-down vote-icon downvote" data-id="<%= posts[i]._id %>"></i> -->

                  </div>
                </div>
              </div>
            </div>
            <a href="/posts/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <div class="mtop-12 mbottom-28 border-t-1 ptop-12 flex-5">
              <span class="font-bold">Created: <%= posts[i].createdAt.toLocaleString() %></span>
              <button class="view-now-btn">
                <a class="view-link" href="/post/<%= posts[i]._id%>">
                  View Now
                </a>
              </button>
            </div>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
  <!-- Script file for filter logic -->
  <script src="filter.js"></script>
  <%- include('partials/footer') -%>