<%- include('partials/header') -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="/css/post.css">
<section class="main">
  <section class="postViewContainer">
    <section class="postView">

    <h2><%= post.title %></h2>
    <div class="bookendImgContainer">

      <div class="bookendContainer">
        <div class="bookendOne">
            <p><i class="fas fa-map-marker-alt"></i> <%= post.city %> - <%= post.address %></p>
        </div>
        <div class="bookendTwo">
            <i class="fa-regular fa-bookmark mright-8"></i>
        </div>
      </div>

    <div class="postImage">
      <% if (post.image) { %>
        <img  src="<%= post.image %>" alt="Post image" />
      <% } %>
    </div>
    <div>
    <p class="postDesc bold">"<%= post.description %>"</p>

    <div class="bookendContainer">

      <div class="bookendOne">
          <p class="postedAt"><i class="far fa-clock"></i> Posted on: <%= post.createdAt.toLocaleString() %></p>
        </div>
        <div class="bookendTwo ">

          <div class="upvote">
            <form action="/post/<%= post._id %>/upvote/?_method=PUT" method="POST">
              <button class="upvote-button <%= user && post.hasCurrentUserUpvoted ? 'active-upvote' : '' %>" type="submit"><i class="fas fa-arrow-up"></i> Upvote</button>
            </form>
            <p>Upvotes: <%= post.upvotes %></p>
          </div>
          <div class="downvote">
            <form action="/post/<%= post._id %>/downvote/?_method=PUT" method="POST">
              <button class="downvote-button <%= user && post.hasCurrentUserDownvoted ? 'active-downvote' : '' %>" type="submit"><i class="fas fa-arrow-down"></i> Downvote</button>
            </form>
            <p>Downvotes: <%= post.downvotes %></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="postDeets">

      <% if (user && post.postedBy.toString() === user._id.toString()) { %>
        <form action="/post/deletePost/<%= post._id %>?_method=DELETE" method="POST">
          <button type="submit"><i class="fas fa-trash"></i> Delete Post</button>
        </form>
      <% } %>


      <h3>Comments</h3>
      <ul>
      <% comments.forEach(comment => { %>
        <li class="Comments">
          <div class="commentSection">
            <div>
            <p class="bold">User (<%= comment.user %>) Says:</p>
            <div>
            <div class="commentText">
              <p>"<%= comment.commentText %>"</p>
            </div>
             <div class="commentLikes">
               <form action="/comment/likeComment/<%= comment._id %>?_method=PUT" method="POST">
                <button type="submit"><i class="fas fa-heart"></i></button>
              </form>
            <p class="likes bold">Likes: <%= comment.likes %></p>
            <% if (user && comment.user.toString() === user._id.toString()) { %>
                <form action="/comment/deleteComment/<%= comment._id %>?_method=DELETE" method="POST">
                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            <% } %>
          </div>
          </div>
        </li>
      <% }) %>
      </ul>

      <form action="/comment/createComment/<%= post._id %>" method="POST">
        <label for="comment">Add a comment:</label>
        <input type="text" id="comment" name="comment" required />
        <div class="commentButton">

        </div>
        <button  type="submit">Submit</button>
      </form>
    </div>

    <div class="mapFeedButton">
      <a href="/map"><i class="fas fa-map-marked-alt"></i> Return to Map</a>
      <a href="/feed"><i class="fas fa-stream"></i> Return to Feed</a>
    </div>
    </section>
  </section>
</section>
<script src="/js/votes.js"></script>

<%- include('partials/footer') -%>